{% include 'header.html' %}
 
      <!-- service section -->
      <div id="service" class="service">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2><strong class="yellow">service</strong><br> WE CAN HELP YOUR business GROW</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="/static/images/service_icon1.png" alt="service_icon1.png"/>
                     <h3>DIGITAL marketing</h3>
                     <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="/static/images/service_icon2.png" alt="service_icon2.png"/>
                     <h3>FINANCIAL PLANING</h3>
                     <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="/static/images/service_icon3.png" alt="service_icon3.png"/>
                     <h3>DIGITAL marketing</h3>
                     <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="/static/images/service_icon4.png" alt="service_icon4.png"/>
                     <h3>BUSINESS CONSULTING</h3>
                     <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="/static/images/service_icon5.png" alt="service_icon5.png"/>
                     <h3>MARKETING RESEARCH</h3>
                     <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="/static/images/service_icon6.png" alt="service_icon6.png"/>
                     <h3>UX RESEARCH</h3>
                     <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
                  </div>
               </div>
               <div class="col-md-12">
                  <h2>Contact Us For Our More Services</h2>
                  <a class="btn btn-primary" href="{% url 'contact' %}">Request Call Back</a>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- service section -->
      
   {% include 'footer.html' %}
   </body>

